<h1 id="打赏">打赏</h1>
<p>&emsp;&emsp;如果你觉得本文对你有所帮助，可以考虑小额金钱打赏以激励我创作出更好的内容。</p>
<center class="half"><a href="wxp://f2f0JOwB8LU7CU53fcitPGIuC6lYMX1q-nlk"><img
            src="https://raw.githubusercontent.com/missdeer/corednshome/master/src/res/wepay.jpg" alt="微信扫一扫"
            width="200" /></a><a
        href="alipays://platformapi/startapp?appId=10000007&amp;qrcode=https://qr.alipay.com/tsx00458kzwvymgbjk0ci9e"><img
            src="https://raw.githubusercontent.com/missdeer/corednshome/master/src/res/alipay.jpg" alt="支付宝扫一扫"
            width="200" /></a></center>
<p>&emsp;&emsp;也可以通过<a href="https://www.boomssv.com/aff.php?aff=2340">我的推广链接</a>注册和使用<a
        href="https://www.boomssv.com/aff.php?aff=2340">Boom</a>，我可以从中获得返利。Boom
    是开了很多年的老机场了，老板和员工都肉身在墙外，相对比较安全（看看曾经最大的机场喵帕斯）。全中转节点（所以主营ss协议），几十条线路，多地区落地，大多解锁Netflix、YouTube、DAZN、Disney+等流媒体，价格不贵，适合家用。
</p>